<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURRÍCULO EM REDE</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <header>
        <div class="center">
            <div class="logo">
                <h1>CURRÍCULO EM REDE</h1>
            </div><!--logo-->

            <nav class="desktop">
                <a href="" section="header">Início</a>
                <a href="" section="parte2">Vantagens</a>
                <a href="" section="parte3">Criar</a>
            </nav><!--desktop-->

            <nav class="mobile">
                <img src="../static/imgs/menu.png" alt="">
                <div class="menu">
                    <a href="" section="header">Início</a>
                    <a href="" section="parte2">Vantagens</a>
                    <a href="" section="parte3">Criar</a>
                </div>
            </nav><!--mobile-->

            <div class="clear"></div><!--clear-->
        </div><!--center-->
    </header>
    
    <main>
        <section class="parte1">
            <div class="center">
                <div class="texto-parte1">
                    <p>Investir tempo para criar um currículo excelente pode ter um impacto significativo na sua
                        trajetória profissional. Pronto para dar um passo à frente na sua carreira? Um currículo
                        profissional é o primeiro passo para o seu sucesso.</p>
                </div><!--texto-parte1-->

                <div class="img-parte1">
                    <img src="../static/imgs/img4.png" alt="">
                </div><!--img-parte1-->
            </div><!--center-->
        </section><!---parte1-->

        <section class="parte2">
            <div class="center">
                <h2>VANTAGENS</h2>
                <div class="vantagens">
                    <div class="v">
                        <img src="../static/imgs/img1.jpg">

                        <div class="descricao">
                            <h3>Primeira Impressão Positiva</h3>
                            <p>Um currículo bem elaborado causa uma ótima primeira impressão. Ele destaca suas habilidades, experiências e conquistas de forma clara e organizada, aumentando as chances de ser chamado para uma entrevista.</p>
                        </div><!--descricao-->
                    </div><!--v-->

                    <div class="v">
                        <img src="../static/imgs/img3.jpeg">

                        <div class="descricao">
                            <h3>Destacar-se da Concorrência</h3>
                            <p>Um currículo de qualidade ajuda você a se destacar de outros candidatos. Ele mostra
                                seu profissionalismo e dedicação, tornando mais fácil para os recrutadores identificar você como um candidato forte.</p>
                        </div><!--descricao-->
                    </div><!--v-->

                    <div class="v">
                        <img src="../static/imgs/img5.jpeg">

                        <div class="descricao">
                            <h3>Oportunidades de Crescer</h3>
                            <p>Um currículo bem estruturado pode ajudar você a conseguir promoções, novos projetos ou
                                até mesmo mudar de área, uma vez que seus talentos e competências são apresentados de forma eficaz.</p>
                        </div><!--descricao-->
                    </div><!--v-->
                </div><!--vantagens-->
            </div><!--center-->
        </section><!---parte2-->

        <section class="parte3">
            <div class="center">
                <div class="fazer-curriculo">
                    <p>Transforme sua carreira com um currículo de destaque! Criação profissional e personalizada para você brilhar no mercado de trabalho.</p>
                    <a href="/pageReceberInfo">CRIAR</a>
                </div><!--fazer-curriculo-->
                
                <div class="img-parte3">
                    <img src="../static/imgs/img6.png" alt="">
                </div><!--img-parte3-->
            </div><!--center-->
        </section><!---parte3-->
    </main>

    <footer>
        <p>TODOS OS DIREITOS RESERVADOR POR:</p>
        <P>MARCOS ATHIRSON, JAMILLY FERNANDES</P>
    </footer>

    <div class="atalho-topo">
        <img src="../static/imgs/topo.png" alt="">
    </div><!--atalho-topo-->


    <script src="../static/js/home/atalhoParaTopo.js"></script>
    <script src="../static/js/home/mobile-menu.js"></script>
    <script src="../static/js/home/atalhoMenu.js"></script>
</body>
</html>